.paper {
  padding: 25px;
}
.css-1f19gdh {
  padding-top: 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-1r8h6m1 {
  width: 100%;
  overflow-x: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  box-shadow: none;
}
.css-11rbhr {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
.css-1ircn5c {
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-1kuqfbs {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}
.css-11ev4cw {
  width: 30%;
  padding: 12px 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
}
.css-w614i4 {
  position: relative;
  text-align: left;
  opacity: 0.7;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
}

.css-1qbdd0n {
  width: 150px;
  padding: 12px 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
}
/* .css-1kcj9bb {
    position: relative;
    text-align: center;
    opacity: 0.7;
    background: transparent;
    color: rgb(123, 128, 154);
    box-shadow: none;
    font-size: 0.65rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .css-1kcj9bb {
    position: relative;
    text-align: center;
    opacity: 0.7;
    background: transparent;
    color: rgb(123, 128, 154);
    box-shadow: none;
    font-size: 0.65rem;
    font-weight: 700;
    text-transform: uppercase;
  } */
.css-1xnox0e {
  display: table-row-group;
}
.css-1kuqfbs {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}
.css-1nos2st {
  text-align: left;
  padding: 12px 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
}
.css-ekdnj9 {
  display: inline-block;
  width: max-content;
  opacity: 1;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  vertical-align: middle;
}
.css-1xcjrx8 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-j9ywh2 {
  margin: 0px 0px 0px 8px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.02857em;
  display: block;
  line-height: 1;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 600;
}
.css-15jcv17 {
  text-align: center;
  padding: 12px 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
}
.css-k33355 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
  font-weight: 600;
}
.css-ql19x3 {
  margin-top: 0px;
  margin-left: 0px;
}
.css-ql19x3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-nk2l5f {
  margin-right: 0px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-h3pk10 {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.02857em;
  min-width: 64px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.5rem;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  transition: all 150ms ease-in 0s;
  background-color: transparent;
  min-height: 2.5rem;
  box-shadow: none;
  padding: 0.25rem 0.2rem;
  color: rgb(244, 67, 53);
  background-size: 150% !important;
  background-position-x: 25% !important;
}
.h3pk10 .material-icons-round,
.css-h3pk10 svg {
  font-size: 1rem !important;
}
.css-6m0tds {
  user-select: none;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  font-size: inherit !important;
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.css-w0pj6f {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}
.css-139fp5x {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.02857em;
  min-width: 64px;
  border: 1px solid rgb(26, 115, 232);
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 700;
  border-radius: 0.5rem;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  transition: all 150ms ease-in 0s;
  min-height: 2rem;
  padding: 0.375rem 1rem;
  font-size: 0.75rem;
  background-image: initial;
  background-position-y: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
  color: rgb(26, 115, 232);
  background-size: 150% !important;
  background-position-x: 25% !important;
}
.css-139fp5x:hover {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.02857em;
  min-width: 64px;
  border: 1.75px solid #ffffff;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 700;
  border-radius: 0.5rem;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  transition: all 150ms ease-in 0s;
  min-height: 2rem;
  padding: 0.375rem 1rem;
  font-size: 0.8rem;
  background-image: initial;
  background-position-y: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
  color: rgb(255, 255, 255);
  background-size: 150% !important;
  background-position-x: 25% !important;
}
.css-1u89yhd {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.02857em;
  min-width: 64px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.5rem;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  transition: all 150ms ease-in 0s;
  background-color: transparent;
  min-height: 2.5rem;
  box-shadow: none;
  padding: 0.625rem 0.2rem;
  color: rgb(49 205 147);
  background-size: 150% !important;
  background-position-x: 25% !important;
}
.css-i4bv87-MuiSvgIcon-root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1rem !important;
}
