.css-aim41u {
  margin-left: 17.125rem;
  transition: margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    margin-right 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-aim41u {
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  padding: 24px;
  position: relative;
}
.css-buygqh {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: sticky;
  z-index: 1100;
  left: auto;
  right: 0px;
  box-shadow: none;
  backdrop-filter: none;
  color: rgb(123, 128, 154);
  top: 0.75rem;
  min-height: 4.6875rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.75rem;
  padding: 0.5rem 0px;
  background-color: transparent !important;
}
.css-buygqh,
.MuiToolbar-root {
  min-height: auto;
  padding: 0.25rem 1rem;
}
.css-buygqh,
.MuiToolbar-root {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.css-buygqh > * {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
/* .css-1n8f1nf {
    justify-content: stretch !important;
    width: max-content !important;
  } */
.css-1n8f1nf {
  justify-content: stretch;
  width: max-content;
}

.css-1n8f1nf {
  opacity: 1;
  background: transparent;
  color: inherit;
  box-shadow: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.css-1fdwtd7 {
  margin-right: 64px;
}
.css-1fdwtd7 {
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-uohygl {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.6);
}
.css-nhb8h9 {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.css-uohygl {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.6);
}
.css-uohygl,
.MuiBreadcrumbs-li {
  line-height: 0;
}
a,
a:link,
a:visited {
  text-decoration: none !important;
}
.css-12axuq1 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.01071em;
  opacity: 0.5;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  line-height: 0;
}
.css-6m0tds {
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  font-size: inherit !important;
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.css-uohygl,
.MuiBreadcrumbs-separator {
  color: rgb(108, 117, 125);
}

.css-1csyvuc {
  display: flex;
  user-select: none;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 0.875rem;
  color: rgb(108, 117, 125);
}
.css-uohygl,
.MuiBreadcrumbs-li {
  line-height: 0;
}

.css-md43ih {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.02857em;
  opacity: 1;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 400;
  line-height: 0;
}
.css-krrgm2 {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.0075em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 700;
}
.css-1lybv8m {
  justify-content: stretch !important;
  width: max-content !important;
}
.css-1lybv8m {
  justify-content: stretch;
  width: max-content;
}
.css-1lybv8m {
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.css-10fw84t {
  padding-right: 8px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-1675v7s {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
  background-color: transparent;
  pointer-events: auto;
}
.css-1hiu5rg {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.00938em;
  padding: 0px;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(14px, 16px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
  font-size: 0.875rem;
  color: rgb(123, 128, 154);
  line-height: 0.9;
}
.css-1ij7x0a {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  font-size: 0.875rem;
  border-radius: 0.375rem;
}
.css-1pvpzft {
  font: inherit;
  letter-spacing: inherit;
  border: 0px;
  box-sizing: content-box;
  background: none transparent;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  color: rgb(73, 80, 87);
  padding: 0.75rem;
}
.css-at8z4h {
  text-align: left;
  position: absolute;
  inset: -5px 0px 0px;
  margin: 0px;
  padding: 0px 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: rgb(210, 214, 218);
}
.css-173wfxe {
  float: unset;
  display: block;
  width: auto;
  padding: 0px;
  height: 11px;
  font-size: 0.75em;
  visibility: hidden;
  max-width: 0.01px;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  white-space: nowrap;
}
.css-173wfxe > span {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}
.css-5fx0ti {
  opacity: 1;
  background: transparent;
  color: inherit;
  box-shadow: none;
}
.css-1b8wzv7 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 5px 8px;
  font-size: 1.125rem;
}
.css-1b8wzv7,
.material-icons-round {
  font-size: 1.25rem !important;
}
.css-kf77ha {
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  color: rgb(123, 128, 154);
  font-size: inherit !important;
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.css-u2vdid {
  display: none;
}
.css-u2vdid {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  padding: 5px;
  font-size: 1.125rem;
  display: inline-block;
  line-height: 0;
}
.css-18pe4zh {
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  font-size: 1.5rem;
  color: rgb(123, 128, 154);
}
.css-1ghcb7i {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  padding: 5px 8px;
  font-size: 1.125rem;
}
.css-1ghcb7i,
.material-icons-round {
  font-size: 1.25rem !important;
}

.css-kf77ha {
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  color: rgb(123, 128, 154);
  font-size: inherit !important;
}
.css-1ghcb7i {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  padding: 5px 8px;
  font-size: 1.125rem;
}
.css-19ho8hn {
  padding-top: 48px;
  padding-bottom: 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-sayu3r {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -48px;
  width: calc(100% + 48px);
  margin-left: -48px;
}
.css-sayu3r > .MuiGrid-item {
  padding-left: 48px;
}
.css-sayu3r > .MuiGrid-item {
  padding-top: 48px;
}
.css-1uo6sxl {
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
}
.css-sa3w6d {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem,
    rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  overflow: visible;
}
.css-99a237 {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: -24px;
  padding: 24px 16px;
  opacity: 1;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  color: rgb(52, 71, 103);
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem,
    rgb(0 187 212 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
}
.css-11c9emy {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.0075em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.css-1f19gdh {
  padding-top: 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-1r8h6m1 {
  width: 100%;
  overflow-x: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  box-shadow: none;
}
.css-11rbhr {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
.css-1ircn5c {
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-1kuqfbs {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}
.css-1p0dxn5 {
  width: 35%;
  padding: 12px 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
}
.css-w614i4 {
  position: relative;
  text-align: left;
  opacity: 0.7;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
}
.css-1qbdd0n {
  width: 150px;
  padding: 12px 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
}
.css-w614i4 {
  position: relative;
  text-align: left;
  opacity: 0.7;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
}
.css-1kcj9bb {
  position: relative;
  text-align: center;
  opacity: 0.7;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
}
.css-1xnox0e {
  display: table-row-group;
}
.css-1kuqfbs {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
}
.css-1nos2st {
  text-align: left;
  padding: 12px 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
}
.css-ekdnj9 {
  display: inline-block;
  width: max-content;
  opacity: 1;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  vertical-align: middle;
}
.css-1xcjrx8 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-1yu3g53 {
  margin-left: 16px;
  line-height: 1;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-10g2m6j {
  margin-left: -18px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  display: block;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 600;
}
.css-sv17n2 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
}
/* .css-1nos2st {
    text-align: left;
    padding: 12px 24px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    box-shadow: none;
    font-size: 0.875rem;
    border-bottom: 0.0625rem solid rgb(240, 242, 245);
  }
  .css-ekdnj9 {
    display: inline-block;
    width: max-content;
    opacity: 1;
    background: transparent;
    color: rgb(123, 128, 154);
    box-shadow: none;
    vertical-align: middle;
  } */
.css-fhbeib {
  line-height: 1;
  text-align: left;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-14lhfkl {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  display: block;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
  font-weight: 600;
}
.css-sv17n2 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
}
.css-1tguw1f {
  margin-left: -8px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-rocnp4 {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
  text-align: center;
}
.css-rocnp4 .MuiBadge-badge {
  height: auto;
  padding: 0.55em 0.9em;
  font-size: 0.5625rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: none;
  border-radius: 0.375rem;
  background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
  color: rgb(255, 255, 255);
  position: static;
  margin-left: 0.5rem;
  transform: none;
}

.css-k33355 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
  font-weight: 600;
}
.css-1kcj9bb {
  position: relative;
  text-align: center;
  opacity: 0.7;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
}
.css-1q4cxkd .MuiBadge-badge {
  height: auto;
  padding: 0.55em 0.9em;
  font-size: 0.5625rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: none;
  border-radius: 0.375rem;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  color: rgb(255, 255, 255);
  position: static;
  margin-left: 0.5rem;
  transform: none;
}
/* .css-15jcv17 {
  padding-left: 58px;
} */
