.App {
  font-family: sans-serif;
  text-align: center;
}
.css-achccn {
  flex: 0 0 auto;

  white-space: nowrap;
  border: none;
}

.css-166o8s3 {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: 1200;
  position: fixed;
  top: 0px;
  outline: 0px;
  left: 0px;
  width: 15.625rem;
  background-color: rgb(255, 255, 255);
  height: calc(100vh - 2rem);
  margin: 1rem;
  border-radius: 0.75rem;
  border: none;
}
a {
  color: rgb(0, 75, 145);
  cursor: pointer;
  text-decoration: none;
}
.css-achccn .MuiDrawer-paper {
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  margin-bottom: inherit;
  left: 0px;
  width: 250px;
  transform: translateX(0px);
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    background-color 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
.css-achccn .MuiDrawer-paper {
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  border: none;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  transform: translateX(0px);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
.css-166o8s3 {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: 1200;
  position: fixed;
  top: 0px;
  outline: 0px;
  left: 0px;
  width: 15.625rem;
  background-color: rgb(255, 255, 255);
  height: calc(100vh - 2rem);
  margin: 1rem;
  border-radius: 0.75rem;
  border: none;
}
.css-1b98hg2 {
  padding: 24px 32px 8px;
  text-align: center;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-g10jdo {
  display: none;
}
.css-i4qfl5 {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.0075em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
}
.css-kyh2wa {
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  font-weight: 700;
  font-size: inherit !important;
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
*,
::before,
::after {
  margin: 0px;
  padding: 0px;
}
*,
::before,
::after {
  box-sizing: inherit;
}
.css-i4qfl5 {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.0075em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
}
a,
a:link,
a:visited {
  text-decoration: none !important;
}
.css-cz6ae8 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-7txj2x {
  width: 2rem;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}
.css-1clnuci {
  opacity: 1;
}
.css-1clnuci {
  width: 0%;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
  margin-left: 4px;
  font-weight: 600;
  word-spacing: -0.0625rem;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-1mlmzpc {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.css-6vm7vh {
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.08);
  border-right: 0px solid rgba(0, 0, 0, 0.08);
  border-left: 0px solid rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 1rem 0px;
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}
.css-zws9p5 {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.css-13sbe1j {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}
.css-1x3v3vy {
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-13slygp {
  flex-shrink: 0;
  min-width: 2rem;
  min-height: 2rem;
  color: rgb(255, 255, 255);
  border-radius: 0.375rem;
  display: grid;
  place-items: center;
  transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-c6zp6d {
  user-select: none;
  width: 2em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  font-size: 1.25rem !important;
}
.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.css-1bdqj0m {
  opacity: 1;
  max-width: 100%;
  margin-left: 0.625rem;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-1bdqj0m {
  flex: 1 1 auto;
  min-width: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0.625rem;
}
.css-1bdqj0m span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0;
}
.css-1siuh5p span {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 0;
}
.css-1siuh5p {
  opacity: 1;
  max-width: 100%;
  margin-left: 0.625rem;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-wbk34u {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.00938em;
  display: block;
}
.css-wbk34u:hover {
  opacity: 1;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 200;
  line-height: 0.625;
  padding: 0.7rem 0.625rem;
  /* margin: 0.09375rem; */
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem,
    rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
}
/* .css-wbk34u:hover {
    opacity: 1;
    background: transparent;
    color: rgb(255, 255, 255);
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.625rem;
   margin: 0.09375rem 1rem; 
    border-radius: 0.375rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    box-shadow: none;
  } */
.css-13sbe1j {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
}
.css-mvs481:hover {
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-mvs481 {
  opacity: 1;
  background: transparent;
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.625rem;
  margin: 0.09375rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  box-shadow: none;
}

.css-13slygp {
  flex-shrink: 0;
  min-width: 3rem;
  min-height: 2rem;
  color: rgb(255, 255, 255);
  border-radius: 0.375rem;
  display: grid;
  place-items: center;
  transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
a,
a:link,
a:visited {
  text-decoration: none !important;
}
.css-13slygp {
  flex-shrink: 0;
  min-width: 2rem;
  min-height: 2rem;
  color: rgb(255, 255, 255);
  border-radius: 0.375rem;
  display: grid;
  place-items: center;
  transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
